body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
}

/* ##### header-content ##### */
.headers {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: column;
    justify-self: space-between;
    gap: 110px;
    padding: 20px 220px 130px 220px;
}

.top-header,
.bottom-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top-header {
    font-size: 18px;
    gap: 20px;
}

.bottom-header {
    justify-content: space-between;
    gap: 35px;
}

.home-button {
    font-size: 24px;
    font-weight: 600;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.bottom-header-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    width: 400px;
    gap: 16px;
    flex-grow: 1;
}

.sign-up {
    background-color: #3882F6;
    border: none;
    width: 130px;
    height: 35px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

.main-title {
    font-size: 45px;
    font-weight: 800;
}


/* ###### main-content ##### */
.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 45px;
    padding-top: 45px;
    padding-bottom: 150px;
}

.main-content .text {
    color: #1F2937;
    font-size: 35px;
    font-weight: 700;
}

.img-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.img-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
}

.img-box {
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}


/* ###### review-content ##### */
.reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #E5E7EB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: 150;
    font-style: italic;
    padding: 130px 330px 130px 330px;
}

.commentor {
    align-self: flex-end;
    font-size: 25px;
    font-weight: 500;
}




